.table {
  width: 100%;
  border-collapse: collapse;
}

.table-header, .table-data {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid white;
}

.table-actions-header {
  text-align: center;
}

.table-row:hover {
  background-color: #303030;
}

.table-row-dropdown {
  float: right;
  margin-right: 1rem;
  width: fit-content;
}

/*.table-table-row-dot-menu {*/
/*  border: none;*/
/*  padding: 0.5rem;*/
/*  cursor: pointer;*/
/*  background-color: transparent;*/
/*  font-size: 1.25rem;*/
/*  color: #e7e7e7;*/
/*}*/

/*.table-table-row-dropdown-content {*/
/*  display: none;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  text-align: center;*/
/*  background-color: #f9f9f9;*/
/*  min-width: 8rem;*/
/*  z-index: 1;*/
/*}*/
/*.table-table-row-dropdown-content a {*/
/*  color: black;*/
/*  padding: 0.6em 1.2em;*/
/*  text-decoration: none;*/
/*  display: block;*/
/*}*/

/*.table-table-row-dropdown-item:hover {*/
/*  background-color: #e7e7e7;*/
/*}*/