.table {
  width: 100%;
  border-collapse: collapse;
}

.table-header-row, .table-data-row {
  text-align: left;
  border-bottom: 1px solid white;
}

.center {
  text-align: center;
}

.table-data-row:hover {
  background-color: #303030;
}

.table-header-cell {
  padding: 1rem;
}

.table-data-cell {
  padding: 1rem;
}

/*
.table-row-dropdown {
  float: right;
  margin-right: 1rem;
  width: fit-content;
}

.table-table-row-dot-menu {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.25rem;
  color: #e7e7e7;
}

.table-table-row-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 8rem;
  z-index: 1;
}
.table-table-row-dropdown-content a {
  color: black;
  padding: 0.6em 1.2em;
  text-decoration: none;
  display: block;
}

.table-table-row-dropdown-item:hover {
  background-color: #e7e7e7;
}
*/