<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="sidebar-top">
  <div class="sidebar-logo">
    <i class='bx bx-pyramid icon sidebar-logo-icon'></i>
    <span class="sidebar-header">ITSM</span>
  </div>
  <button id="sidebar-menu-button" class="sidebar-button">
    <i class='bx bx-menu icon'></i>
  </button>
</div>
<div class="sidebar-user">
  <i class='bx bx-user-circle icon sidebar-user-icon'></i>
  <p class="bold">Jakub</p>
  <p>Admin</p>
</div>
<ul>
  <li>
    <a href="/src/pages/home/home.html">
      <i class='bx bxs-home icon'></i>
      <span class="nav-item">Home</span>
    </a>
    <span class="sidebar-tooltip">Home</span>
  </li>
  <li>
    <a href="#">
      <i class='bx bx-task icon'></i>
      <span class="nav-item">Stories</span>
    </a>
    <span class="sidebar-tooltip">Stories</span>
  </li>
  <li>
    <a href="/src/pages/projects/projects.html">
      <i class='bx bxs-layout icon'></i>
      <span class="nav-item">Projects</span>
    </a>
    <span class="sidebar-tooltip">Projects</span>
  </li>
  <li>
    <a href="#">
      <i class='bx bxs-cog icon'></i>
      <span class="nav-item">Settings</span>
    </a>
    <span class="sidebar-tooltip">Settings</span>
  </li>
  <li>
    <a href="#">
      <i class='bx bx-log-out icon'></i>
      <span class="nav-item">Logout</span>
    </a>
    <span class="sidebar-tooltip">Logout</span>
  </li>
</ul>
