<div class="sidebar-top">
  <div class="sidebar-logo">
    <box-icon class="sidebar-icon" name="pyramid" color="white"></box-icon>
    <span class="sidebar-header">ITSM</span>
  </div>
  <button id="sidebar-menu-button">
    <box-icon name="menu" color="white"></box-icon>
  </button>
</div>
<div class="sidebar-user">
  <box-icon
    name="user-circle"
    color="white"
    class="sidebar-user-image"
  ></box-icon>
  <p class="bold">Jakub</p>
  <p>Admin</p>
</div>
<ul>
  <li>
    <a href="#">
      <box-icon name="home" type="solid" color="white"></box-icon>
      Home
    </a>
    <span class="sidebar-tooltip">Home</span>
  </li>
  <li>
    <a href="#">
      <box-icon name="task" color="white"></box-icon>
      Stories
    </a>
    <span class="sidebar-tooltip">Stories</span>
  </li>
  <li>
    <a href="#">
      <box-icon type="solid" name="layout" color="white"></box-icon>
      Projects
    </a>
    <span class="sidebar-tooltip">Projects</span>
  </li>
  <li>
    <a href="#">
      <box-icon name="cog" color="white"></box-icon>
      Settings
    </a>
    <span class="sidebar-tooltip">Settings</span>
  </li>
  <li>
    <a href="#">
      <box-icon name="log-out" color="white"></box-icon>
      Logout
    </a>
    <span class="sidebar-tooltip">Logout</span>
  </li>
</ul>
